<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome, Admin!</h1>
    <div>
        <h2>Dashboard</h2>
        <ul>
            <li>
                <a href="/admin1">Profile Management
                    <img src="{{ url_for('static', filename='profile.png') }}" alt="Example Image" />
                </a>
            </li>
            <li>
                <a href="/admin2">View Notifications
                    <img src="{{ url_for('static', filename='notification.png') }}" alt="Example Image" />
                </a>
            </li>
            <li>
                <a href="/admin3">Debug Logs
                    <img src="{{ url_for('static', filename='debug.jpg') }}" alt="Example Image" />
                </a>
            </li>
            <li>
                <a href="/admin4">Manage Users
                    <img src="{{ url_for('static', filename='user.png') }}" alt="Example Image" />
                </a>
            </li>
            <li>
                <a href="/admin5">System Settings
                    <img src="{{ url_for('static', filename='system.jpg') }}" alt="Example Image" />
                </a>
            </li>
            <li>
                <a href="/admin6">View Reports
                    <img src="{{ url_for('static', filename='report.jpg') }}" alt="Example Image" />
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
